name: DevSecOps Full Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  guvenlik-taramasi:
    runs-on: ubuntu-latest

    steps:
      # 1. Kodları Getir
      - name: Kodlari Getir
        uses: actions/checkout@v3

      # 2. Trivy ile Dosya/Kütüphane Taraması (SCA)
      - name: Trivy Dosya Taramasi (SCA)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'

      # 3. Hedef Sistemi Ayaga Kaldir (DVWA)
      - name: Hedef Uygulamayi Baslat (Docker)
        run: |
          docker pull vulnerables/web-dvwa
          docker run -d -p 80:80 vulnerables/web-dvwa
          sleep 10  # Sitenin veritabanı kendine gelsin diye 10 saniye bekle

      # 4. ZAP ile Dinamik Saldiri Yap (DAST)
      - name: OWASP ZAP Taramasi (DAST)
        run: |
          chmod 777 $(pwd) # Rapor yazılabilsin diye klasöre izin ver
          docker run --network host -v $(pwd):/zap/wrk/:rw -t zaproxy/zap-stable zap-baseline.py -t http://localhost -r zap_report.html
        continue-on-error: true # Hata bulsa bile pipeline durmasın, raporu alalım

      # 5. Raporu GitHub'a Yukle (Artifact)
      - name: ZAP Raporunu Yukle
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-Guvenlik-Raporu
          path: zap_report.html
